@media print {
  body{
    width: 210mm;
    height: 297mm;
 }
}

body{
  width: 210mm;
  height: 297mm;
  margin: 0;
  border: solid black 1px;
}

.container {
  display: flex;
}

.container > div {

}
